body { font-family: 'Microsoft YaHei'; }
ul { list-style:none}
.prodeuctServerWrap { border: solid 1px #bcc0d9; min-height: 365px; margin: 0 5px; transition: all 0.3s ease-out; margin-bottom: 18px; position: relative; }
    .prodeuctServerWrap:hover { border: solid 1px #193292; }
    .prodeuctServerWrap > img { width: 90%; margin-top: 10px; }
    .prodeuctServerWrap > div { margin: 0 5% 5% 5%; overflow: hidden; position: absolute; bottom: 0; background: #fff; }
        .prodeuctServerWrap > div p { font-size: 14px; line-height: 20px; text-align: left; }
        .prodeuctServerWrap > div h2 { font-size: 22px; color: #5e9cb7; margin-top: 10px; }
            .prodeuctServerWrap > div h2 i { content: ""; display: inline-block; width: 60px; height: 50px; vertical-align: bottom; }
    .prodeuctServerWrap .titleIcon_1 i { background: url("../images/design/icons_1.png") 0 5px no-repeat; }
    .prodeuctServerWrap .titleIcon_2 i { background: url("../images/design/icons_1.png") 0 -58px no-repeat; }
    .prodeuctServerWrap .titleIcon_3 i { background: url("../images/design/icons_1.png") 0 -122px no-repeat; }
    .prodeuctServerWrap .titleIcon_4 i { background: url("../images/design/icons_1.png") 0 -184px no-repeat; }
    .prodeuctServerWrap .titleIcon_5 i { background: url("../images/design/icons_1.png") 0 -262px no-repeat; }
    .prodeuctServerWrap .titleIcon_6 i { background: url("../images/design/icons_1.png") 0 -335px no-repeat; }
    .prodeuctServerWrap .titleIcon_7 i { background: url("../images/design/icons_1.png") 0 -405px no-repeat; }
    .prodeuctServerWrap .titleIcon_8 i { background: url("../images/design/icons_1.png") 0 -480px no-repeat; }
    .prodeuctServerWrap .titleIcon_9 i { background: url("../images/design/icons_1.png") 0 -548px no-repeat; }
    .prodeuctServerWrap .titleIcon_10 i { background: url("../images/design/icons_1.png") 0 -625px no-repeat; }

.adv_content { max-width: 1000px; padding: 0; margin-bottom: 50px; position: relative; }
    .adv_content .arrow, .adv_content3 .arrow { position: absolute; top: 55%; width: 50px; height: 62px; text-decoration: none; }
    .adv_content .prev { left: -60px; background: url("../images/design/arrows.png"); }
    .adv_content .next { right: -60px; background: url("../images/design/arrows.png") 50px 0; }
.qq_service { position: fixed; left: -10px; top: 10em; width: 6%; z-index: 10; transition: all 0.2s ease-out; }
    .qq_service:hover { transform: translate(10px, 0); }
    .qq_service img { width: 100%; }

/*.adv_content .row { margin:0}*/
.adv_content2 { width: 100%; position: relative; }
    .adv_content2 .imgWrap { width: 100%; }
    .adv_content2 .advWrap { margin: auto 0; position: absolute; top: 0; left: 0; bottom: 0; top: 0; right: 0; max-width: 1000px; height: 470px; }

.adv_content3 { width: 100%; height: 740px; background: url("../images/page/con_bg.png") center; position: relative; }
    .adv_content3 .advWrap2, .adv_content3 .advOutWrap { margin: auto; margin-top: 90px; position: absolute; top: 0; left: 0; bottom: 0; top: 0; right: 0; max-width: 1000px; height: 470px;}
.advOutWrap { width:1000px}
    .adv_content3 .prev { left: -60px; background: url("../images/design/arrows2.png"); }
    .adv_content3 .next { right: -60px; background: url("../images/design/arrows2.png") 50px 0; }

.successCaseWrap { background: #000; box-shadow: 2px 2px 7px #333; height: 470px; overflow: hidden; margin: 0; transition: all 0.3s ease-out; position: relative; }
.advWrap2 .owl-item:nth-child(2n) img { width: 100%; min-width: 260px; position: absolute; bottom: 0; width: 100%; }
.advWrap2 .owl-item:nth-child(2n+1) img { width: 100%; min-width: 260px; }
.successCaseWrap:hover { }

.advWrap2 .owl-item:nth-child(2n) .sc_article { background: #fff; position: absolute; top: 0; height: 235px; width: 100%; background: #fff; transition: all 0.2s ease-out; }
    .advWrap2 .owl-item:nth-child(2n) .sc_article:before { content: ""; position: absolute; width: 0; height: 0; bottom: -30px; left: 50%; margin-left: -15px; border: solid 15px transparent; border-top-color: #fff; }
.advWrap2 .owl-item:nth-child(2n+1) .sc_article { background: #fff; position: absolute; bottom: 0; height: 235px; width: 100%; background: #fff; transition: all 0.2s ease-out; }
    .advWrap2 .owl-item:nth-child(2n+1) .sc_article:before { content: ""; position: absolute; width: 0; height: 0; top: -30px; left: 50%; margin-left: -15px; border: solid 15px transparent; border-bottom-color: #fff; }
.successCase .sc_article h2 { width: 100%; text-align: center; font-size: 18px; line-height: 30px; }
.successCase .sc_article p { font-size: 14px; margin: 15px; line-height: 25px; }

.introduceWrap div { margin: 0 20px; font-size: 16px; text-align: left; }
.companyNews { text-align: left; }
    .companyNews h2 { color: #4b8ab9; text-align: left; font-size: 26px; margin: 0; margin-bottom: 18px; }
    .companyNews h3 { font-size: 16px; margin: 0; color: #000; }
    .companyNews span { font-size: 12px; text-align: left; line-height: 30px; }
    .companyNews > div { margin: 0 20px; }
    .companyNews ul div { text-indent: 2em; color: #666; }
    .companyNews li { border-bottom: solid 1px #d0d0d0; padding-bottom: 10px; margin-bottom: 20px; }

.footerNav { text-align: left; padding-left: 0; font-weight: normal; }
.footer { background: #0a2d65; height: 200px; color: #fff; text-align: left; }
    .footer .container { padding: 0; }
    .footer p { width: 100%; display: inline-block; }
.footerNav { margin: 0; margin: 20px 0; }
    .footerNav li { padding: 0 15px; }
        .footerNav li a { color: #fff; }
        .footerNav li:first-child { padding-left: 0; }

/*reset bootstrap*/
.navbar { margin-bottom: 0; border: 0; }
.jumbotron { margin: 0; padding: 0; }
.navbar-toggle { margin: 0.6em 0 0 auto; }
.navbar-inner { border: 0; background: #fff; box-shadow: none; }
.navbar .nav > .active > a { box-shadow: none; text-shadow: none; }
.bs-docs-nav .navbar-toggle .icon-bar { box-shadow: 1px 1px 2px #333; }
.collapsed .icon-bar { background-color: #563d7c; }
.in li, .collapsing li { border: solid 1px #ddd; border-radius: 0em; margin-top: 5px; background: #f6f6f6; text-align: center; }
    .in li a, .collapsing li a { color: #666; }
.nav .active { background:#eee}

/*list page*/

.listWrap { margin: 10px auto; }
.menuList { width: 100%; }
    .menuList>li + li { margin-top: 0;border-top:solid 1px #ccc}
    .menuList > li > a { background: #193292; display: inline-block; width: 100%; color: #fff; padding-left: 1.5em; transition: all 0.2s ease-out; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; border: solid 1px #193292; position: relative; }
        .menuList > li > a:link { color:#fff}
        .menuList > li > a:hover { color:#000 !important;background:#eee !important}
        .menuList > li > a:focus { color:#fff;background:#193292;outline: none;}
    .menuList > li > a:before { position: absolute; left: 0.6em; top: 0.9em; content: ""; width: 0; height: 0; border: solid 0.5em transparent; border-left-color: #193292; display: none; }
    .menuList > li>a.active, .menuList > li { color: #000; background: #fff !important; }
        .menuList .open>a { background-color:#193292 !important;color:#fff !important}
        .menuList > li .active:before { display: block; }
    
    .menuList .dropdown-menu1 {box-shadow:none;border-radius:0;width:95%;border:solid 1px #193292;margin:0;margin-left:5%;border-top:none;padding:0;display:none}
        .menuList .dropdown-menu1 li a{ border-bottom:dotted 1px #ddd;line-height:2.3em;display:block;width:100%;line-height:2.6em;text-indent:0.5em;}
        .menuList .dropdown-menu1 li a:hover{text-decoration:none;background:#eee}
            .menuList .dropdown-menu1 li a .active { background-color:#ccc !important}
            .menuList .dropdown-menu1 li:last-child a{ border-bottom:none}
    .menuList .open .dropdown-menu1,.menuList .open .secondmenu {display:block}


.secondmenu { border:solid 1px #193292;border-top:0;width:95%;margin-left:5%}
    .secondmenu a {text-align:left}
.secondmenu li { margin-top:0px;border:0;border-bottom:dotted 1px #ddd}
.secondmenu li.active {background-color: #ccc;}


.listContent_header { border: solid 1px #193292; width: 100%; display: block; font-size: 18px; padding: 0.5em 0; box-shadow: 1px 1px 3px #999; margin-top: 0; }
    .listContent_header b { font-weight: 600; margin: 0.5em; color: #144084; }
.listContent li + li { margin-top: 0; }
.listContent li img { width: 7em; vertical-align: middle; display: inline-block; margin-right: 1em; }
.listContent li a { transition: all 0.2s ease-out; }
    .listContent li a:hover { border-left: solid 5px #193292; }
.messageWrap { margin-top: 3em; }
    .messageWrap label { font-size: 16px; }
    .messageWrap .form-control { border: solid 1px #666; border-radius: 0; }
    .messageWrap .form-actions { text-align: center; padding: 2em 0; }
.pagingWrap { width: 100%; text-align: center; padding: 2em 0; }
    .pagingWrap li { margin:0 2px}
    .pagingWrap a { border-radius: 5px !important; border: solid 1px #999 !important; color: #666; margin:0 0.3em}



@media screen and (min-width: 768px) {
    .header { min-height: 100px; }
        .header .logo img { margin-top: 17px;height:65px }
        .header .nav { float: right; }
            .header .nav > li { height: 100px; width: 100px; }
                .header .nav > li > a { padding: 0; display: inline-block; width: 100%; height: 100%; text-align: center; line-height: 100px; font-size: 20px; font-weight: 200; color: #646464; }
    .navbar .nav > li > .dropdown-menu { background: #1a3294; width: 100px; min-width: 100px; padding: 0; margin: 0; border: 0; border-radius: 0; opacity: 0.85; }
        .header .navbar .nav > li > .dropdown-menu:after, .navbar .nav > li > .dropdown-menu:before { display: none; }

    .header .nav > li:hover .dropdown-menu { display: block; }
    .header .dropdown-menu > li a { display: inline-block; width: 100px; padding: 0; text-align: center; line-height: 40px; height: 40px; }
    .header .dropdown-menu > li { background: url("../images/design/d_fg.png") no-repeat top; }
        .header .dropdown-menu > li:first-child { background: none; }
        .header .dropdown-menu > li > a { color: #fff; }
            .header .dropdown-menu > li > a:hover { background: #fff; color: #1a3294; }
}

@media screen and (max-width: 768px) {
    body { }
    .qq_service { display: none; }
    .dropdown-menu > li { border: 0; }
    .logo img { width: 10em; margin-top: 0.4em; }
    .adv_content > img { width: 100%; }
    .footer { text-align: center; }
    .footerNav { float: left; width: 100%; }
        .footerNav li { float: left; padding: 0; width: 20%; height: 4em; border: solid 1px #0a2d65; border-left: 0; background: #113877; }
            .footerNav li:last-child { border-right: 0; }
            .footerNav li a { display: inline-block; height: 100%; width: 100%; line-height: 2.3em; text-align: center; text-decoration: none; }
            .footerNav li:nth-child(2n) { display: none; }
    .prodeuctServerWrap { height: 20em; }
        .prodeuctServerWrap > div { bottom: 0; }
            .prodeuctServerWrap > div h2 { font-size: 16px; color: #5e9cb7; }
                .prodeuctServerWrap > div h2 i { display: none; }
    .listContent_header { margin-top: 0.5em; }
    .pagingWrap li a { display:none}
    .pagingWrap li a[aria-label='Previous'],.pagingWrap li a[aria-label='Next']{display:block;}
    .advOutWrap { width:100%}
}
