@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="headWrap">
    <h1>钻石大咖后台管理系统</h1>
</section>
<section class="ContentWrap">
    <aside class="sideBar">
        <ul class="transition">
            <li id="sideBar_active">用户管理</li>
            <li>钻石管理</li>
            <li>道具管理</li>
            <li>挖掘概率管理</li>
            <li>挖掘事件管理</li>
            <li>公司管理</li>
            <li>邀请记录</li>
            <li>钻石购买记录</li>
            <li>系统配置</li>
        </ul>
    </aside>
    <section class="contentWrap">
        <h2>用户管理</h2>
        <div>
            <table class="TableList">
                <thead>
                    <tr>
                        <th>用户名</th><th>微信识别号</th><th>金钱</th><th>魅力值</th><th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>傻不拉几</td><td>sswffddddewe</td><td>8988900</td><td>2330</td><td><a href="javascript:;">查看明细</a></td>
                    </tr>
                    <tr>
                        <td>傻不拉几</td><td>sswffddddewe</td><td>8988900</td><td>2330</td><td><a href="javascript:;">查看明细</a></td>
                    </tr>
                    <tr>
                        <td>傻不拉几</td><td>sswffddddewe</td><td>8988900</td><td>2330</td><td><a href="javascript:;">查看明细</a></td>
                    </tr>
                    <tr>
                        <td>傻不拉几</td><td>sswffddddewe</td><td>8988900</td><td>2330</td><td><a href="javascript:;">查看明细</a></td>
                    </tr>
                    <tr>
                        <td>傻不拉几</td><td>sswffddddewe</td><td>8988900</td><td>2330</td><td><a href="javascript:;">查看明细</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</section>
