.tabWrap { width:100%;float:left;display:inline;margin:10px auto}

.btn_group input{ width:100px;background:#e6e6e4;color:#333;text-shadow:1px 1px 1px #fff}
    .btn_group input:hover { background:#a6c7ef;color:#666 }
    .btn-primary:active, .btn-primary.active { background: #a6c7ef;color:#333}

.picturesWrap { float:left;width:100%;margin:30px auto}
    .picturesWrap li {margin-bottom:30px}

.span_pic { width:222px;height:170px;overflow:hidden}

.picShowBg { background:url("../img/opacity_20.png");position:fixed;width:100%;height:100%;top:0px;left:0px;text-align:center;display:none}
    .picShowBg div { margin:0px auto;display:inline-block;width:800px;height:482px;position:relative;margin-top:50px;
                     border:solid 1px #f0f0f0;z-index:100;box-shadow:3px 3px 4px #333;display:none}
    .picShowBg p { display:inline-block;margin:0 auto;margin-top:200px;background:#333;color:#f0f0f0;padding:5px 10px;border-radius:4px;font-weight:bold}
       .picShowBg p a { color:#fff;font-size:16px}
        .picShowBg p a:hover { text-decoration:none;color:#f00}
       .picShowBg div span {position:absolute;width:20px;height:20px;border-radius:10px;background:#999;
                             right:-10px;top:-10px;color:#fff;font-weight:bold;cursor:pointer;font-size:14px;}
            .picShowBg div span:hover { background:#333}

.Article { width:100%;}
    .Article h1 { line-height:40px;border-bottom:dotted 1px #999;font-size:22px;display:inline-block;width:100%}
    .Article p { margin-bottom:10px;font-size:12px;text-indent:10px}
